.signUpForm
{
   margin: 0 auto;
}

.lockLogo
{
    width:30px;
    height:30px;
    padding: 2px;
    margin: 0 auto;
    background-color: #ff3333;
    color: #ffff;
    border-radius: 50%;
}

.formDiv
{
 
    background-color: blue;
    top: 50%;
    width: 100%;
    text-align: center;
   
}

.boxForm
{
  text-align: center;
  width:100%;
  height: 500px;
  margin: 0 auto;
  
}